DECLARE @Tsql VARCHAR(2048)
DECLARE @DBnow VARCHAR(2048)

DECLARE DbCur CURSOR FOR
SELECT name 
--, database_id, create_date  
FROM sys.databases 
where name not in ('master', 'tempdb', 'model', 'msdb', 'wms_test', 'tms_bak')

OPEN DbCur

FETCH NEXT FROM DbCur INTO @DBnow

WHILE @@FETCH_STATUS = 0
BEGIN
	PRINT @DBnow

	DECLARE IndexerCur CURSOR FOR
	SELECT 
	--OBJECT_NAME(ind.OBJECT_ID) AS TableName, 
	--ind.name AS IndexName, 
	--indexstats.index_type_desc AS IndexType, 
	--indexstats.avg_fragmentation_in_percent,
	'ALTER INDEX ' + QUOTENAME(ind.name)  + ' ON ' +QUOTENAME(object_name(ind.object_id)) + 
	CASE    WHEN indexstats.avg_fragmentation_in_percent>30 THEN ' REBUILD ' 
			WHEN indexstats.avg_fragmentation_in_percent>=5 THEN ' REORGANIZE'
			ELSE NULL END as [SQLQuery]  -- if <5 not required, so no query needed
	FROM sys.dm_db_index_physical_stats(DB_ID(), NULL, NULL, NULL, NULL) indexstats 
	INNER JOIN sys.indexes ind ON ind.object_id = indexstats.object_id 
		AND ind.index_id = indexstats.index_id 
	WHERE 
	--indexstats.avg_fragmentation_in_percent , e.g. >10, you can specify any number in percent 
	ind.Name is not null 
	AND indexstats.avg_fragmentation_in_percent >= 5
	ORDER BY indexstats.avg_fragmentation_in_percent DESC

	OPEN IndexerCur

	FETCH NEXT FROM IndexerCur INTO @Tsql

	WHILE @@FETCH_STATUS = 0
	BEGIN
		PRINT @Tsql

		--EXEC (@Tsql)
	
		FETCH NEXT FROM IndexerCur INTO @Tsql
	END

	CLOSE IndexerCur
	DEALLOCATE IndexerCur

	FETCH NEXT FROM DbCur INTO @DBnow
END

CLOSE DbCur
DEALLOCATE DbCur



