@{
    ViewData["Title"] = "GLC Web";
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron mainJumbo indexJumbo">
        <h1 class="text-center"><b>Bienvenido al sistema GLC Web</b></h1>
        <div class="divLogo"><img class="imgLogo" src="~/images/logo4Trans.png" /></div>
    </div>
</div>