@using ComModels
@{
    ViewData["Title"] = "Estado de pedidos";
    Layout = "_Layout";
}
<div id="mainDiv">
    <div class="container">
        <div class="card-deck cardMain">
            <div class="card box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Estado de pedidos</h4>
                </div>
                <div class="card-body">
                    <form id="formSearch">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <span id="spanClientName2">
                                        <span id="divSpinClientName" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row margin5">
                                <div class="col-sm">
                                    <button id="btnPrintAll" class="btn btn-primary" type="button">
                                        &nbsp;&nbsp;<img src="/images/excel.png" class="imgButton" /> &nbsp;Detalle de pedidos con facturas&nbsp;&nbsp;&nbsp;
                                        <div id="divSpinPrintAll" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <br />
                    <form id="formReportes" accept-charset="UTF-8" method="post">
                        <table id="tblReportes" class="table table-striped table-bordered nowrap table-hover display tblReportes" cellspacing="0" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Num pedido</th>
                                    <th>Id Transacción</th>
                                    <th>Destino</th>
                                    <th>Tienda</th>
                                    <th>Fecha de pedido</th>
                                    <th>Estado</th>
                                    <th>Bodega</th>
                                    <th>Regimen</th>
                                    <th>Bultos</th>
                                    <th>Cantidad</th>
                                    <th>Factura comercial</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                        <br />
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table id="tblExport1" class="noShow" style="width: 100%; border: 1px solid #000;">
        <thead>
            <tr>
                <th>Pedido</th>
                <th>Id Transacción</th>
                <th>Fecha de entrega</th>
                <th>Estado</th>
                <th>Bodega</th>
                <th>Regimen</th>
                <th>Categoria</th>
                <th>Barcode</th>
                <th>Factura comercial</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    var domtblReportes = null;
    var HashId = '';
    var foo = function () {
    };
    $.urlParam = function (name) {
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results == null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }
    var getClientName = new Promise(function (resolve, reject) {
        $('#divSpinClientName').show();
        $.ajax({
            method: "GET",
            url: "@this.Url.Action("GetClientNow", "HomeExtern")",
            success: function (data) {
                if (data.info.codError != 0) {
                    menErrorEdi(data.info.mensaje, 'Error');
                    return;
                }
                $('#spanClientName2').html(data.data);
                $('#divSpinClientName').hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                menErrorEdi(xhr.status, 'Error throw in js');
                menErrorEdi(thrownError, 'Error throw in js');
            }
        });
    });
    function reDrawObjects() {
        $('#spanClientName').css('display', 'block');
        if (window.mobileAndTabletcheck()) {
            $('#spanClientName').css('text-align', 'center');
        } else {
            $('#spanClientName').css('margin-bottom', '10px');
        }
    }
    function fillTblReportes() {        
        domtblReportes = $("#tblReportes").DataTable({
            select: true,
            responsive: window.mobileAndTabletcheck(),
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5'
            ],
            destroy: true,
            info: false,
            "scrollX": true,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "lengthMenu": [[35, 50, 65], [35, 50, 65]],
            "language":
            {
                "processing": "<div class='divAjax'>Obteniendo datos<br /><img style='width:50px; height:50px;' src='/images/ajax.gif' /></div>",
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "No hay información"
            },
            "ajax": {
                "url": '@this.Url.Action("GetPedidosFacturas", "HomeExtern")',
                "type": "POST",
                "datatype": "json",
                "dataSrc": function (json) {                    
                    return json.data;
                }
            },            
            "order": [[1, "desc"]],
            "columns": [
                {
                    data: "pedidoBarcode",
                    name: "pedidoBarcode",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<span class="thisSpan" alt="' + row.pedidoId + '">' + row.pedidoBarcode + '</span>';
                        }
                        return '';
                    },
                    className: "dt-body-center"
                },
                { "data": "transaccionId", "name": "transaccionId", "autoWidth": true, "defaultContent": "" },
                { "data": "destino", "name": "destino", "autoWidth": true, "defaultContent": "" },
                {
                    data: "tiendaId",
                    name: "tiendaId",
                    render: function (data, type, row) {
                        //if (type === 'display' && (row.tiendaId[0] == 7)) {
                            return '<span>' + row.tiendaId + '</span>';
                        //}
                        //return '';
                    },
                    className: "dt-body-center"
                },
                { "data": "fechaPedido", "name": "fechaPedido", "autoWidth": true, "defaultContent": "" },
                {
                    data: "estatus",
                    name: "Estatus",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            return '<span>' + row.estatus + '</span>';
                        }
                        return '';
                    },
                    className: "dt-body-center"
                },
                //{ "data": "estatus", "name": "Estatus", "autoWidth": true, "defaultContent": "" },
                { "data": "nomBodega", "name": "nomBodega", "autoWidth": true, "defaultContent": "" },
                { "data": "regimen", "name": "regimen", "autoWidth": true, "defaultContent": "" },
                { "data": "bultos", "name": "bultos", "autoWidth": true, "defaultContent": "" },
                { "data": "cantidad", "name": "cantidad", "autoWidth": true, "defaultContent": "" },
                { "data": "factComercial", "name": "factComercial", "autoWidth": true, "defaultContent": "" },
                //{
                //    data: "observacion",
                //    name: "observacion",
                //    render: function (data, type, row) {
                //        if (type === 'display') {
                //            return '<span class="thisSpan" alt="' + row.pedidoId + '">' + row.observacion + '</span>';
                //        }
                //        return '';
                //    },
                //    className: "dt-body-center"
                //},
                //{ "data": "observacion", "name": "observacion", "autoWidth": true, "defaultContent": "" }
                {
                    data: "clienteID",
                    name: "clienteID",
                    render: function (data, type, row) {
                        if (type === 'display') {
                            if (row.estatus == 'Pedido')
                                return '<button type="button" class="btn btn-primary disabled" onclick="goTo(0)">Detalle de despacho</button>';
                            else
                                return '<button type="button" class="btn btn-primary" onclick="goTo(' + row.pedidoId + ')">Detalle de despacho</button>';
                        }
                        return '';
                    },
                    className: "dt-body-center"
                }
            ]
        });
    }
    function goTo(pedidoId2) {
        if (pedidoId2 == 0) {
            menErrorEdi('El pedido no ha sido despachado', 'Información');
            return;
        } else {
            setTimeout(function () {
                window.location.href = '@this.Url.Action("PedidosDet", "HomeExtern")?PedidoId=' + pedidoId2;
            }, 333);
        }
    }
    $(document).ready(function () {
        fillTblReportes();
        reDrawObjects();
        $('#btnPrintAll').on("click", function () {            
            window.open('@this.Url.Action("MakeWmsDetDispatchsBills", "HomeExtern")');
        });
        $('#tblReportes tbody').on('click', 'tr', function (Event) {
            var idFrom = $($(this).closest("tr").find('.thisSpan')[0]).attr('alt');
            if ($(Event.currentTarget).prop('class').indexOf('parent') !== -1)
                return;
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                domtblReportes.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');                
            }            
        });
    });
</script>
