@if (Context.Session.GetObjSession<List<string>>("ListPermits") != null) {
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="imgLogoExtern" src="~/images/onlyLogoMini.png" />&nbsp;&nbsp;GLC WEB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar1">
            <ul class="navbar-nav mr-auto">
                @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Usuarios" || O == "Admin_Grupos" || O == "Admin_Permisos" || O == "Admin_Grupos_Permisos").Count() > 0) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown1">
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Usuarios").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="CrudUsuarios">Usuarios</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Grupos").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="CrudGrupos">Grupos</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Permisos").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="CrudAccesos">Accesos</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Grupos_Permisos").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="CrudGrupoAccesos">Grupos y accesos</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Payless_Temporadas").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CrudPaylessTemporadas">Payless temporadas</a>
                            }
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CrudRutas">Rutas</a>
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CrudTiendas">Tiendas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBod" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bodega
                        </a>
                        <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdownBod">
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaWmsIngreso">Cargar ingreso WMS</a>
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="VerIngresosWMS">Ingresos / salidas WMS</a>
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CrearWmsSalida">Escaner Salida WMS</a>
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CrudRacks">Racks</a>
                        </div>
                    </li>
                }
                @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Pedidos_Lear" || O == "Admin_Pedidos_Payless" || O == "Admin_Confirmacion_Lear").Count() > 0) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pedidos
                        </a>
                        <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown1">
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Pedidos_Lear").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="PedidosLear">Pedidos Lear</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Pedidos_Payless").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PeticionesAdminB">Pedidos Payless</a>
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PaylessPedidosHist">Pedidos borrados</a>
                            }                            
                        </div>
                    </li>
                }
                @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_CargaExcel_Payless" || O == "Admin_ExcelConsolidado_Payless" || O == "Usuario_CargaEscaners_Payless" || O == "Usuario_HacerPedidos_Payless").Count() > 0) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Operaciones
                        </a>
                        <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown">
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_CargaExcel_Payless").Count() > 0) {
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaProdPrioriAdmin">Cargar archivo DC</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_ExcelConsolidado_Payless").Count() > 0) {
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaProdPriori">Excel consolidado</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_CargaEscaners_Payless").Count() > 0) {
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="CargaProdArchBod">Carga de archivo de escaners</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_HacerPedidos_Payless").Count() > 0) {
                            @*<a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PedidosPayless">Realizar pedidos Payless</a>
        <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PedidosPayless2">Realizar pedidos Payless v2</a>*@
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PedidosPayless3">Realizar pedidos Payless</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_Payless_Encuesta").Count() > 0) {
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PaylessEncuesta">Encuesta entrega</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_Payless_EncuestaConductor").Count() > 0) {
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PaylessEncuestaConductor">Encuesta conductor</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Payless_Divert").Count() > 0) {
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PedidosPaylessDivert">Pedidos Payless Divert</a>
                            <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PedidosPayless">Pedidos Payless Divert por lote</a>
                            }
                        </div>
                    </li>
                }
                @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Pedidos_Lear" || O == "Admin_Confirmacion_Lear").Count() > 0) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Despacho
                        </a>
                        <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown2">
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Confirmacion_Lear").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="Rep856" asp-action="Index">Confirmación Lear</a>
                            }
                        </div>
                    </li>
                }
                @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_Ordenes_Payless" || O == "Usuario_Pedidos_WMS" || O == "Usuario_ReportesSemanales_Payless").Count() > 0) {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reportes
                        </a>
                        <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown2">
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_Inv_Payless_Tiendas").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="InvPaylessTienda">Inventario por tienda</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_Ordenes_Payless").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="Peticiones">Ordenes pendientes</a>
                                <div class="dropdown-divider"></div>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_Pedidos_WMS").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="Pedidos">Estado de despachos WMS</a>
                                <div class="dropdown-divider"></div>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Usuario_ReportesSemanales_Payless").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PaylessReportes">Reportes semanales</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PedidosFacturas">Despachos con factura</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Payless_ReporteEncuestasRes").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="PaylessEncuestaRep">Encuestas</a>
                            }
                            @if (Context.Session.GetObjSession<List<string>>("ListPermits").Where(O => O == "Admin_Payless_SnapshotInvPayless").Count() > 0) {
                                <a class="dropdown-item" asp-area="" asp-controller="HomeExtern" asp-action="SnapshotInvPayless">Snapshot Inventario</a>
                            }
                        </div>
                    </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ayuda
                    </a>
                    <div class="dropdown-menu mr-auto" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="~/files/learspec830.pdf" target="_new">830 specs</a>
                        <a class="dropdown-item" href="~/files/learspec856.pdf" target="_new">856 specs</a>
                        <a class="dropdown-item" href="~/files/ManualUsuario2019.pdf" target="_new">Manual de usuario</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ">
                <!-- PROFILE DROPDOWN - scrolling off the page to the right -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navDropDownLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="imgProfile" src="~/images/profile.png" />&nbsp;
                        @(Context.Session.GetObjSession<string>("Session.CodUsr"))
                    </a>
                    <div class="dropdown-menu mr-auto" aria-labelledby="navDropDownLink">
                        @*<a class="dropdown-item" href="#">Preferences</a>
                            <div class="dropdown-divider"></div>*@
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Exit">Salir</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
}