<div class="modal fade2" id="modalPopChangeStore" tabindex="-1" role="dialog" aria-labelledby="modalPopChangeStoreLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-content-normal">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPopChangeStoreLabel">Cambio de tienda</h5>                
            </div>
            <div class="modal-body">
                <div id="divPopChangeStoreContent">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                Seleccione de la lista &nbsp;
                                <div id="divSpinList" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <br />
                                <select class="form-control" id="cboList" name="cboList"></select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id="btnPopChangeStoreLabelOk" type="button" class="btn btn-success btnModal" data-dismiss="modal">Guardar</button>
                <button id="btnPopChangeStoreLabelClose" type="button" class="btn btn-success btnModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>        
    $('#modalPopChangeStore').on("shown.bs.modal", function () {        
        $('#cboList').focus();
    });    
</script>