<div class="modal fade2" id="modalPopPeticionDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-content-normal">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3"></h5>
            </div>
            <div class="modal-body">
                <div id="divMensajePopPeticionDet">
                    <div style="color: seagreen;">
                        La cantidad puede ser mayor a la pedida porque el detalle muestra los accesorios por caja.
                    </div>
                    <div id="gridOrdenesDet" style="min-height: 460px; width: 100%;"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>