<div class="modal fade2" id="modalCargaArchBod" tabindex="-1" role="dialog" aria-labelledby="modalCargaArchBodLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-content-normal">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargaArchBodLabel">Carga de archivos</h5>
            </div>
            <div class="modal-body">
                <div id="divModalCargaArchBodContent">
                    <form class="formSearch">
                        <div class="container div856Search">
                            <div class="row">
                                <div class="col-sm">
                                    <label for="cboTipo">Tipo</label>
                                    <select class="form-control" id="cboTipo" name="cboTipo">
                                        <option title="Ingreso" value="0">Ingreso</option>
                                        <option title="Traslado" value="1">Traslado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm" id="divPeriodo">
                                    <label for="cboPeriod">Periodo</label>
                                    <select class="form-control" id="cboPeriod"></select>
                                </div>
                                <div class="col-sm noShow" id="divPeriodo2">
                                    <label for="dtpPeriodo">Periodo</label>
                                    <input class="form-control datepicker" data-date-format="dd/mm/yyyy" id="dtpPeriodo" placeholder="dd/mm/yyyy" maxlength="10" autocorrect="off" autocapitalize="off" autocomplete="off" />
                                </div>
                            </div>
                            <div class="row" id="divTransporte">
                                <div class="col-sm">
                                    <label for="cboTransporte">Transporte</label>
                                    <div id="divSpinCboTransporte" class="spinner-border spinner-border-sm text-danger" style="display: none" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                    <select class="form-control" id="cboTransporte" name="cboTransporte"></select>
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-center maxWidth99">
                                <fieldset class="col-10 col-md-12 px-3">
                                    <legend>Archivo de entrada (.xml o .xls)</legend>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-sm-9 col-lg-6">
                                            <label class="pt-2" for="price">Archivo .xml (prioritario)</label>
                                            <div class="input-group">
                                                <input type="file" class="" id="fUploadXml1" name="fUploadXml1" />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-9 col-lg-6">
                                            <label class="pt-2" for="cost">Archivo .xls</label>
                                            <div class="input-group">
                                                <input type="file" class="" id="fUploadXls1" name="fUploadXls1" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <br />
                            <div id="divArchEntrada" class="row justify-content-center maxWidth99 noShow">
                                <fieldset class="col-10 col-md-12 px-3">
                                    <legend>Archivo de salida (.xml o .xls)</legend>
                                    <div class="row justify-content-center">
                                        <div class="form-group col-sm-9 col-lg-6">
                                            <label class="pt-2" for="price">Archivo .xml (prioritario)</label>
                                            <div class="input-group">
                                                <input type="file" class="" id="fUploadXml2" name="fUploadXml2" />
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-9 col-lg-6">
                                            <label class="pt-2" for="cost">Archivo .xls</label>
                                            <div class="input-group">
                                                <input type="file" class="" id="fUploadXls2" name="fUploadXls2" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id="btnCargaArchBodOk" type="button" class="btn btn-success btnModal" data-dismiss="modal">Guardar</button>
                <button id="btnCargaArchBodCancel" type="button" class="btn btn-success btnModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>