<div class="modal fade2" id="modalTransDifDet" tabindex="-1" role="dialog" aria-labelledby="modalCargaProdArchBodDetLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content modal-content-normal">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCargaProdArchBodDetLabel">Detalle</h5>
            </div>
            <div class="modal-body">
                <div id="divmodalCargaProdArchBodDetContent">
                    <div id="gridRepDetD2" style="min-height: 460px; width: 100%;"></div>
                    <br />
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id="btnCargaProdArchBodDetOk" type="button" class="btn btn-success btnModal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>